body{
    background-color:white;
}
html{
 height: 100%;
}

.navbar{
    background-color: rgb(173, 184, 187);
}
.card {
    height:500px;
}

.card-img-top {
    height: 250px
}

.card-text{
    max-height: 250px;
    size: 1rem;
}
.row-info{
    margin-top:5%;
}
.image-info{
    margin-right:10%;
}
.countryImg{
    max-height: 350px;
    width: 100%;
    margin-top: 5%;
    border: 1px solid black;
}
.btn{
   margin-top: 5%;
    width: 10%;
}