body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 14px;
    box-sizing: border-box;
}

.mode-dark {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(207, 26%, 17%);
    --bg-color: hsl(180, 1%, 22%);
    --placeholder-color: hsl(0, 0%, 98%);
    --moon-color:white;
    
}

.mode-light {
    --primary-color: hsl(207, 26%, 17%);
    --secondary-color: hsl(0, 0%, 98%);
    --bg-color: hsl(0, 0%, 100%);
    --placeholder-color: hsl(0, 44%, 95%);
    --moon-color:black;
}

.navbar {
    background-color: var(--bg-color);
}

.form-inline span {
    outline: none;
    background-color: var(--bg-color);
}

.form-inline input {
    outline: none;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.navLink {
    color:var(--primary-color);
}

.modeName{
    font-size:20px;
    color: var(--primary-color);
}

.navbarDropdown{
    color: var(--primary-color);
}

.navbar {
    background-color: var(--secondary-color);
}

.dropdown-item {
    color: var(--primary-color);
    background-color: var(--bg-color);
}
.backButton {
    color: var(--primary-color);
    background-color: var(--bg-color);
}
.card {
    color: var(--primary-color);
    background-color: var(--bg-color);
}
.card-body{
    border: 1px solid black;
    max-height: 175px;
    height: fit-content;
}
.card-img-top {
    height: 200px;
}
.card-text {
    height: inherit;
    size: 1rem;
}
.row-info {
    margin-top: 5%;
}
.image-info {
    margin-left: 0;
}
.countryImg {
    width: 100%;
    margin-top: 5%;
    border: 1px solid black;
}
.btn {
    margin-top: 5%;
    width: fit-content;
}
.country-details {
    margin-left: 2%;
    margin-right: 20%;
    padding-right: 0;
}
.details {
    margin-top: 0;
}

.info{
    margin-left: 5%;
}

.borders{
    width:max-content;
    padding-top: 30%;
}
.moon{
    font-size:20px;
    color: var(--moon-color);
}
.moon:hover{
    color:purple;
}

 .modeName:hover{
   text-shadow: brown;
    color: red; 
    text-decoration-line: inherit;
}


